*{margin: auto;
    font-size: large;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color:black;
 background-color: rgb(250, 245, 237);
 
  
}


#logo2{
    margin-left: 200px;
}
